*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Red Hat Display', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282c34;
  background: radial-gradient(circle, rgba(37,55,66,1) 0%, rgba(22,34,43,1) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  
  padding: 20px;
  width: 100%; /* With box-sizing set to border-box, the padding is included */
}

a {
  font-weight: 500;
  color: #31806C;
  text-decoration: inherit;
}
a:hover {
  color: #459381;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  min-width: 640px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 99px;
  border: 1px solid transparent;
  margin: 5px;
  padding: 10px 15px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #459381;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #0AC18E;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
